* {
  background-color: black;
  text-align: center;
}

.discover-header, h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

a {
  color: Aquamarine;
  font-family: Verdana;
}

h2 {
  color: White;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

.download {
  font-size: 16px;
}

.personal {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

.remembers {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}

#copyright {
    text-align: right;
    color: Gray;
    font-family: Verdana;
    font-size: 21px;
}
